.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  width: 318px;
  text-align: center;
  border-radius: 5px;
  background-color: #c0bfbf;
  margin: auto auto;
}
.wrapper {
  background-color: #fff;
  width: 100%;
  padding: 16px 0 0 0;
  border-radius: 5px 5px 0 0;
}
.avatar {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: #414040;
}

.name {
  font-weight: 900;
  color: #000000;
}
.text {
  font-weight: 600;
  color: #808080;
}

.list {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.item {
  border-top: 1px solid #000000;
  width: 106px;
  display: flex;
  flex-direction: column;
  padding: 16px 0;
  gap: 10px;
}
.stats {
  font-weight: 500;
}
.value {
  font-weight: 900;
}

.list .item:not(:first-child) {
  border-left: 1px solid #000000;
}
